body {
  font-family: "Montserrat", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f6f7;
}
/* header */
header {
  background-color: #d30000;
  text-align: center;
  padding: 10px;
}

.header-title {
  margin: 0;
  color: #fff;
}

/* navbar */
nav {
  background-color: #333;
  text-align: center;
  color: #fff;
  padding: 5px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  text-decoration: underline;
}
nav li.dropdown {
  position: relative;
  display: inline-block;
}

nav .dropbtn {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
}

nav .dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

nav .dropdown-content a:hover {
  background-color: #555;
}

nav li.dropdown:hover .dropdown-content {
  display: block;
}

/* container */
.container {
  background-color: #fff;
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #cbc9c9;
  box-shadow: 2px 2px 29px 11px hsla(240, 5%, 41%, 0.2);
}

h1 {
  text-align: center;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 13px;
}

th {
  background-color: #333;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

a {
  color: #0074d9;
}

.no-wrap {
  white-space: nowrap;
}
