{% extends "base.html" %}

{% block title %}F1 Constructors Standings{% endblock %}

{% block content %}
    <h1>Current F1 Constructors Standings</h1>

    <table style="table-layout: fixed; width: 40%;">
        <tr>
            <th>Season</th>
            <th>Round</th>
        </tr>

        <tr>
            <td>{{ season }}</td>
            <td>{{ round_num }}</td>
        </tr>
     
    </table>

    <table style="table-layout: fixed; width: 100%;">
        <tr>
            <th>Pos</th>
            <th>Constructor</th>
            <th>Wins</th>
            <th>Points</th>
        </tr>
        {% for pos in constructors_standings %}
        <tr>
            <td>{{ pos.position }}</td>
            <td>{{ pos.Constructor.name }}</td>
            <td>{{ pos.wins }}</td>
            <td>{{ pos.points }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
